version: '3.4'
services:
  app: &app
    build: .
    depends_on:
    - db
    - mail
    - cache
    - worker
    env_file: .docker/app.env
    environment:
      RAILS_ENV: development
    entrypoint: "/app/.docker/entrypoint"
    ports:
    - "3000:3000"
    tmpfs: /app/hitobito/tmp/pids
    volumes:
    - ./:/app
    - seed:/seed
    command: [ "rails", "server", "-b", "0.0.0.0" ]

  worker:
    <<: *app
    entrypoint: /app/.docker/worker-entrypoint
    command: [ rake, 'jobs:work' ]
    ports: []
    depends_on:
    - db
    - mail
    - cache

  test:
    <<: *app
    depends_on:
    - db-test
    ports: []
    environment:
      RAILS_DB_NAME: hitobito_test
      RAILS_DB_HOST: db-test
      RAILS_ENV: test
    volumes:
    - ./:/app
    command: [ "rspec" ]

  app-test:
    <<: *test
    command: tail -f /dev/null
    ports:
    - "1234:1234"

  # Dependencies

  mail:
    build: .
    command: [ mailcatcher, -f, --ip, '0.0.0.0' ]
    ports:
    - "1080:1080"

  cache:
    image: memcached:1.5-alpine
    command: [ memcached, -l, '0.0.0.0', -p, '11211' ]

  sphinx:
    image: macbre/sphinxsearch:3.1.1
    depends_on:
    - db
    volumes:
    - sphinx:/opt/sphinx/index
    - ./.docker/sphinx.conf:/opt/sphinx/conf/sphinx.conf:ro

  indexer:
    image: macbre/sphinxsearch:3.1.1
    command: [ indexer, --config, /opt/sphinx/conf/sphinx.conf, --all ]
    depends_on:
    - db
    volumes:
    - sphinx:/opt/sphinx/index
    - ./.docker/sphinx.conf:/opt/sphinx/conf/sphinx.conf:ro

  db:
    image: mysql:5.6
    command:
    - --sort_buffer_size=2M
    env_file: .docker/mysql.env
    ports:
    - "33066:3306"
    volumes:
    - db:/var/lib/mysql

  db-test:
    image: mysql:5.6
    command:
    - --sort_buffer_size=2M
    env_file: .docker/mysql.env
    environment:
      MYSQL_DATABASE: hitobito_test

volumes:
  db:
  sphinx:
  seed:

